extends layout

block content
    p Hi <strong>#{username}</strong>, bii.io is now activated.</br>People who you follow can now edit your bio.

    p 
      strong Now tell your friends about it:

    a(href="https://twitter.com/intent/tweet?button_hashtag=Biiio&text=I want you to update my boring bio at https://bii.io/#{username}",class="btn btn-success",data-size="large",data-related="#{accountname}") <span class="glyphicon glyphicon-comment"></span> Invite your friends to change your bio!
    script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    hr
    div(class="options")
     h3 Settings
   
     p Send an automated Tweet when your bio is updated?
    
     div(class="btn-group bioButtons")
        if broadcastEnabled==true
          a(class="btn btn-info yes") Yes! #{broadcastEnabled}
          a(class="btn btn-default no") No!
        else
          a(class="btn btn-default yes") Yes! #{broadcastEnabled}
          a(class="btn btn-info no") No!
     div(class="slider")
        p What should that Tweet be?
        textarea(class="form-control") #{broadcastMsg}
        a(class="btn btn-default setMsg") Enable automated tweets!
     hr
     a(class='btn btn-info oldBio',data-html='true',data-title='<strong>I want my old bio back!</strong></br>It was: #{oldBio}') <span class="glyphicon glyphicon-repeat"></span> Restore your pre-bii.io bio
     br
     br
    div(class="disableslider")
     a(class='btn btn-danger deactivate',data-title='Stop changing my bio!') <span class="glyphicon glyphicon-fire"></span> Disable Bii.io
